
$background-color-black: #0D2865;
$background-color-white: #eba5a5;
$font-color-white: #f1ff77;
$font-color-black: #ea4141;


$background2-color-black: #75084f;
$background2-color-white: #998a00;
$font2-color-white: #1e3dea;
$font2-color-black: #ffffff;